In [5]:
import pandas as pd

In [6]:
df_infra = pd.read_csv('국내 문화체육관광 분야 산업활용용 전통시장 시설 데이터.csv')
df_infra.head(5)

,ID,LCLAS_NM,MLSFC_NM,FCLTY_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,ADSTRD_CD,ADSTRD_NM,...,HMPG_ADDR,TOILET_EXST_AT,PRKPLCE_EXST_AT,OPNNG_YEAR,TEL_NO,DATA_BASE_DE,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KC483PO22N000000001,쇼핑,전통시장,강남시장,서울,강남구,1168010700,신사동,1168051000,신사동,...,NaN,Y,Y,1974,NaN,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
1,KC483PO22N000000002,쇼핑,전통시장,신사상가,서울,강남구,1168011000,압구정동,1168054500,압구정동,...,NaN,Y,N,1976,NaN,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
2,KC483PO22N000000003,쇼핑,전통시장,영동전통시장,서울,강남구,1168010800,논현동,1168052100,논현1동,...,NaN,Y,Y,2011,NaN,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
3,KC483PO22N000000004,쇼핑,전통시장,청담삼익시장,서울,강남구,1168010400,청담동,1168056500,청담동,...,NaN,Y,Y,1980,NaN,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
4,KC483PO22N000000005,쇼핑,전통시장,고분다리전통시장,서울,강동구,1174010900,천호동,1174060000,천호1동,...,NaN,Y,Y,2011,02-6227-0045,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706

In [7]:
df_infra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401 entries, 0 to 1400
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1401 non-null   object
 1   LCLAS_NM         1401 non-null   object
 2   MLSFC_NM         1401 non-null   object
 3   FCLTY_NM         1401 non-null   object
 4   CTPRVN_NM        1401 non-null   object
 5   SIGNGU_NM        1397 non-null   object
 6   LEGALDONG_CD     1401 non-null   int64
 7   LEGALDONG_NM     1401 non-null   object
 8   ADSTRD_CD        1401 non-null   int64
 9   ADSTRD_NM        1401 non-null   object
 10  RDNMADR_CD       1400 non-null   float64
 11  RDNMADR_NM       1401 non-null   object
 12  ZIP_NO           1401 non-null   int64
 13  GID_CD           1401 non-null   object
 14  FCLTY_LO         1401 non-null   float64
 15  FCLTY_LA         1401 non-null   float64
 16  MRKT_TY_NM       1401 non-null   object
 17  MRKT_OPER_PD     1401 non-null   object
 18  STORE_CO         1401 non-null   int64
 19  ADIT_DC          1401 non-null   object
 20  USE_GCCT_CN      0 non-null      float64
 21  HMPG_ADDR        70 non-null     object
 22  TOILET_EXST_AT   1401 non-null   object
 23  PRKPLCE_EXST_AT  1401 non-null   object
 24  OPNNG_YEAR       1401 non-null   int64
 25  TEL_NO           889 non-null    object
 26  DATA_BASE_DE     1401 non-null   int64
 27  LAST_CHG_DE      1401 non-null   int64
 28  ORIGIN_NM        1401 non-null   object
 29  FILE_NM          1401 non-null   object
 30  BASE_DE          1401 non-null   int64
dtypes: float64(4), int64(8), object(19)
memory usage: 339.4+ KB

In [8]:
df_infra.columns

Index(['ID', 'LCLAS_NM', 'MLSFC_NM', 'FCLTY_NM', 'CTPRVN_NM', 'SIGNGU_NM',
       'LEGALDONG_CD', 'LEGALDONG_NM', 'ADSTRD_CD', 'ADSTRD_NM', 'RDNMADR_CD',
       'RDNMADR_NM', 'ZIP_NO', 'GID_CD', 'FCLTY_LO', 'FCLTY_LA', 'MRKT_TY_NM',
       'MRKT_OPER_PD', 'STORE_CO', 'ADIT_DC', 'USE_GCCT_CN', 'HMPG_ADDR',
       'TOILET_EXST_AT', 'PRKPLCE_EXST_AT', 'OPNNG_YEAR', 'TEL_NO',
       'DATA_BASE_DE', 'LAST_CHG_DE', 'ORIGIN_NM', 'FILE_NM', 'BASE_DE'],
      dtype='object')

In [9]:
# 대분류명
df_infra['LCLAS_NM'].value_counts()

쇼핑    1401
Name: LCLAS_NM, dtype: int64

In [10]:
# 중분류명
df_infra['MLSFC_NM'].value_counts()

전통시장    1401
Name: MLSFC_NM, dtype: int64

In [11]:
# 시설명
df_infra['FCLTY_NM'].value_counts()

중앙시장        12
동부시장         5
역전시장         4
신흥시장         3
신중앙시장        3
            ..
구월도매전통시장     1
간석자유시장       1
학익시장         1
토지금고시장       1
Team204      1
Name: FCLTY_NM, Length: 1351, dtype: int64

In [12]:
df_infra[df_infra['FCLTY_NM'] == '중앙시장']

,ID,LCLAS_NM,MLSFC_NM,FCLTY_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,ADSTRD_CD,ADSTRD_NM,...,HMPG_ADDR,TOILET_EXST_AT,PRKPLCE_EXST_AT,OPNNG_YEAR,TEL_NO,DATA_BASE_DE,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
410,KC483PO22N000000411,쇼핑,전통시장,중앙시장,대구,북구,2723012600,태전동,2723072500,태전1동,...,NaN,Y,Y,2007,053-311-5803,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
476,KC483PO22N000000477,쇼핑,전통시장,중앙시장,인천,동구,2814010300,송현동,2814055500,송현1.2동,...,NaN,N,Y,2009,032-766-5100,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
603,KC483PO22N000000604,쇼핑,전통시장,중앙시장,경기,동두천시,4125010300,생연동,4125053500,중앙동,...,NaN,Y,Y,2005,031-861-6938,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
674,KC483PO22N000000675,쇼핑,전통시장,중앙시장,경기,안성시,4155011700,서인동,4155052000,안성2동,...,NaN,Y,Y,2007,NaN,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
681,KC483PO22N000000682,쇼핑,전통시장,중앙시장,경기,안양시 만안구,4117110100,안양동,4117154000,안양4동,...,NaN,Y,Y,1961,031-449-6047,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
706,KC483PO22N000000707,쇼핑,전통시장,중앙시장,경기,평택시,4122011200,신장동,4122058000,신장2동,...,NaN,Y,Y,2005,031-668-8922,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
722,KC483PO22N000000723,쇼핑,전통시장,중앙시장,강원,강릉시,4215010800,성남동,4215052000,중앙동,...,NaN,Y,Y,2008,033-648-4477,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
811,KC483PO22N000000812,쇼핑,전통시장,중앙시장,충북,청주시 상당구,4311110300,북문로2가,4311152500,중앙동,...,NaN,Y,N,1980,043-256-7657,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
912,KC483PO22N000000913,쇼핑,전통시장,중앙시장,전북,익산시,4514010100,창인동1가,4514052000,중앙동,...,NaN,Y,Y,2005,063-855-3479,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
974,KC483PO22N000000975,쇼핑,전통시장,중앙시장,전남,순천시,4615012000,남내동,4615062000,중앙동,...,NaN,Y,Y,2008,NaN,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
986,KC483PO22N000000987,쇼핑,전통시장,중앙시장,전남,여수시,4613010800,교동,4613057000,중앙동,...,NaN,Y,Y,1975,061-662-4313,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706
1358,KC483PO22N000001359,쇼핑,전통시장,중앙시장,경북,김천시,4715010300,모암동,4715051600,자산동,...,NaN,Y,Y,1953,NaN,20220706,20220706,소상공인시장진흥공단,KC_483_DMSTC_MCST_TRNMKT_2022,20220706

In [13]:
# 시도명
df_infra['CTPRVN_NM'].value_counts()

서울         209
부산         168
경남         157
경기         142
경북         138
대구         101
전남          92
강원          59
충남          58
전북          58
충북          57
인천          45
울산          39
대전          28
광주          24
제주특별자치도     22
세종특별자치시      4
Name: CTPRVN_NM, dtype: int64

In [14]:
# 시군구명
# pd.set_option('display.max_rows', None)

print(df_infra['SIGNGU_NM'].value_counts().head(10))

중구         80
동구         49
남구         35
서구         33
북구         33
부산진구       26
달서구        23
창원시 성산구    20
수영구        18
사상구        18
Name: SIGNGU_NM, dtype: int64

In [15]:
# 법정동이름
df_infra['LEGALDONG_NM'].value_counts().head(10)

대명동    12
중앙동    11
신당동    11
제기동     9
대신동     9
신림동     9
수유동     8
부전동     8
수내동     7
화곡동     7
Name: LEGALDONG_NM, dtype: int64

In [16]:
# 행정동이름
df_infra['ADSTRD_NM'].value_counts().head(10)

중앙동     65
신당동     10
제기동      9
칠성동      8
대신동      8
오동동      7
양동       7
영주1동     7
부전1동     7
금산읍      7
Name: ADSTRD_NM, dtype: int64

In [17]:
# 격자코드 -> 100m 격자코드
df_infra['GID_CD'].value_counts().head(10)

다사594534    3
다사630516    3
다사575521    3
라마974641    3
다바938146    3
라라150410    3
다사491331    2
다사551365    2
다사564524    2
마마008627    2
Name: GID_CD, dtype: int64

In [18]:
# 시장유형명
df_infra['MRKT_TY_NM'].value_counts().head(10)

상설장        1014
상설장+5일장     230
5일장         156
상설장+3일장       1
Name: MRKT_TY_NM, dtype: int64

In [19]:
# 시장운영기간
df_infra['MRKT_OPER_PD'].value_counts().head(10)

매일             1014
3일+8일            79
4일+9일            79
2일+7일            77
5일+10일           75
1일+6일            67
5일                2
10일+5일            2
2일+4일+7일+9일       1
7일                1
Name: MRKT_OPER_PD, dtype: int64

In [20]:
# 추가설명
df_infra['ADIT_DC'].value_counts().head(10)

농산물+축산물+수산물+가공식품+기타소매업       174
농산물+축산물+수산물+가공식품+의류/신발       106
농산물+축산물+수산물+의류/신발+기타소매업       70
농산물+축산물+가공식품+의류/신발+기타소매업      45
농산물+수산물+가공식품+의류/신발+기타소매업      41
농산물+축산물+수산물+가공식품+음식점업         39
농산물+축산물+수산물                   28
농산물+축산물+수산물+음식점업+기타소매업        23
농산물+축산물+수산물+가공식품              23
농산물+가공식품+의류/신발+음식점업+기타소매업     19
Name: ADIT_DC, dtype: int64

In [21]:
# 파일명 -> 무슨 파일인지 모르겠다.
df_infra['FILE_NM'].value_counts().head(10)

KC_483_DMSTC_MCST_TRNMKT_2022    1401
Name: FILE_NM, dtype: int64

In [22]:
# 기준일자

df_infra['BASE_DE'].value_counts().head(10)

20220706    1401
Name: BASE_DE, dtype: int64

In [23]:
# 사용상품권

df_infra['USE_GCCT_CN'].value_counts().head(10)

Series([], Name: USE_GCCT_CN, dtype: int64)

- 사용상품권내용 : 내용없음
- 홈페이지주소 : 70개밖에 없음
- 화장실존재 : 889개